#
# Copyright (c) 2018 Linaro Limited
#
# SPDX-License-Identifier: Apache-2.0
#

CONFIG_ARM=y
CONFIG_SOC_FAMILY_ARM=y
CONFIG_SOC_SERIES_MUSCA=y
CONFIG_SOC_V2M_MUSCA_A=y
CONFIG_ARM_TRUSTZONE_M=y
CONFIG_CORTEX_M_SYSTICK=y
CONFIG_RUNTIME_NMI=y
CONFIG_TRUSTED_EXECUTION_NONSECURE=y
CONFIG_ARM_MPU=y

CONFIG_APP_FLASH_OFFSET=5fa00
CONFIG_APP_FLASH_SIZE=1fe00
CONFIG_APP_SRAM_OFFSET=c000
CONFIG_APP_SRAM_SIZE=4000

# PinMuxing
CONFIG_PINMUX=y

# Serial
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y

# Watchdog
CONFIG_WATCHDOG=y
